@page "/alerts"

<PageTitle>Alerts</PageTitle>

<h3>Alerts</h3>

<p class="mt-2">
    The <code>Alert</code> component is a simple wrapper around the markup
    needed to create a Bootstrap alert div with a close button.  You can also
    specify an <code>OnClose</code> callback.
</p>

<Alert Message="I'm a success alert." StatusClass="success" />

<Alert Message="I'm an info alert." StatusClass="info" />

<Alert Message="I'm a warning alert." StatusClass="warning" />

<Alert Message="I'm an error alert." StatusClass="danger" />

@code {

}
